[OPTIONS]
# Enable radio indents/jingles (default: true)
indent = True

# Enable AI Song Announcements (default: true)
songannounce = True

# Enable radio commentary (default: true)
commentary = True

# Enable radio adverts (default: true)
adverts = True 

# Enable test mode (default: false)
testmode = False

[PATHS]
# The path to the folder that holds your music
musicpath = "path_to_music_folder"

# The path to the folder that holds the radio commentary
commentarypath = "path_to_commentary_folder"

# The path to the folder that holds your adverts
advertpath = "path_to_music_folder"
